@charset "utf-8";
/* CSS Document */
body{
	margin:30;
}

#vidu_transition{
	width:100px;
	height:100px;
	background-color:#F00;
	transition: width 2s,
	height 3s;
}
#vidu_transition:hover{
width:200px;
	height:150px;
}
#vidu_transform{
	width:100px;
	height:100px;
	background-color:#F00;
	transition:1s;
}
#vidu_transform:hover{
transform:translate(100px,50px);
}
#vidu_transform_rotate{
	width:100px;
	height:100px;
	background-color:#F00;
	transition:1s;
}
#vidu_transform_rotate:hover{
	transform:rotate(180deg);
}
#vidu_transform_scale{
	width:100px;
	height:100px;
	background-color:#30F;
	transition:1s;
}
#vidu_transform_scale:hover{
	transform:scaleX(2) scaleY(0.5);
}
	