@charset "utf-8";
body{
	background:url('./Tong-hop-hinh-nen-danh-cho-dan-it-dep-nhat-20.png') no-repeat left top,url('./Tong-hop-hinh-nen-danh-cho-dan-it-dep-nhat-20.png') no-repeat right bottom;
}
#div1{

	width:700px;
	height:500px;
	position:relative;
	left:100px;
	top:100px;
	z-index:10;
}
#div2{

	width:200px;
	height:500px;
	background-color:#0C3;
	position:absolute;
	left:180px;
	z-index: 6;
	top: 150px;
}
#div3{

	width:200px;
	height:200px;
	background-color:#F00;
	position:fixed;
	left:300px;
	top:100px;
	z-index:100000;
}
p{
	color:red;
	font-size:36px;
	font-weight:bold;
}
